﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCEnvioMail.ascx.cs" Inherits="mejoropcionlegal.Controls.UCEnvioMail" %>
<%@ Register Src="~/Controls/UCTraza.ascx" TagPrefix="uc" TagName="UCTraza" %>  
<uc:UCTraza runat="server" ID="UCTraza1" />